<h1 style="text-align: center;">Categories</h1>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4"  *ngFor="let cat of category_name">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top" src={{cat.categoryImage}}
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{cat.category_name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="/viewproducts" class="btn btn-primary" style="width: 100%;">View products</a>
          </div>
        </div> <br>
      </div>
    </div>
  </div>
</div>